@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
.page{
  @apply pt-24 md:pt-0 font-mont;
}
.input{
  @apply border border-gray-600 p-[12px] rounded-[10px] outline-none px-4 w-full focus:outline-none ;
}
.img {
  height: 100%;
  width: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
  
}
.icons{
  @apply w-16;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}
